<div layout="row" layout-padding>
    <md-card>
        <md-card-header>
            <md-card-header-text>
                <span>Edit {{billerCtrl.selectedBiller.name}}</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <form role="form">
                <md-input-container class="md-block">
                    <input type="text" placeholder="Name" ng-model="billerCtrl.selectedBiller.name" md-autofocus>
                </md-input-container>
                <md-input-container class="md-block">
                    <input type="text" placeholder="Address" ng-model="billerCtrl.selectedBiller.address">
                </md-input-container>
            </form>
        </md-card-content>
        <md-card-actions layout="row">
            <md-button ng-click="billerCtrl.UpdateBiller()" aria-label="Add new Biller">Save</md-button>
            <md-button ng-click="billerCtrl.CancelUpdateBiller()" aria-label="Cancel">Cancel</md-button>
        </md-card-actions>
    </md-card>
</div>