<div layout="row" layout-margin ng-cloak>
    <md-whiteframe class="md-whiteframe-5dp" flex>
        <div layout="column">
            <md-card>
                <!--<md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Billers</span>
                    </md-card-title-text>
                </md-card-title>-->
                <md-card-actions layout="row">
                    <md-input-container md-no-float class="md-block">
                        <input type="search" placeholder="Filter, search Billers.." ng-model="filterBillers">
                    </md-input-container>
                    <md-card-icon-actions layout-align="end center">
                        <md-button class="md-icon-button" ng-click="search();" aria-label="Search"><i class="fa fa-search"></i></md-button>
                        <md-button class="md-icon-button" ng-click="clearSearch();" aria-label="Clear Search"><i class="fa fa-refresh"></i></md-button>
                        <md-button class="md-icon-button" ng-click="openAddDialog($event)" aria-label="Add New Biller"><i class="fa fa-plus"></i></md-button>
                        <md-button class="md-icon-button" ng-click="openDeleteDialog($event)" ng-hide="anythingSelectedForDelete()" aria-label="Delete Biller"><i class="fa fa-remove"></i></md-button>
                    </md-card-icon-actions>
                </md-card-actions>
            </md-card>
            <md-list>
                <md-list-item class="md-2-line" ng-repeat="biller in billers | filter:filterBillers">
                    <div class="md-list-item-text">
                        <md-checkbox id="chk{{biller.id}}" ng-model="biller.selected" aria-label="To delete select" flex="60" layout-wrap>
                            <label for="chk{{biller.id}}">
                                <strong> {{biller.name}}</strong> <i ng-if="biller.address"><i class="fa fa-location-arrow"></i>{{biller.address}}</i>
                            </label>
                        </md-checkbox>
                        <md-button class="md-fab md-mini" ng-click="openEditDialog(biller, $event);"
                                   aria-label="Edit {{biller.name}}">
                            <i class="fa fa-edit"></i>
                        </md-button>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </div>
    </md-whiteframe>
</div>