<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <h4 class="panel-title pull-left">Billers</h4>
            <br />
            <div class="input-group">
                <input id="inputSearchBillers" type="search" ng-model="filterBillers"
                       class="form-control" placeholder="Filter, search Billers..">
                <div class="input-group-btn">
                    <button class="btn btn-default" ng-click="search();" title="Search billers"><i class="glyphicon glyphicon-search"></i></button>
                    <button class="btn btn-default" ng-click="clearSearch();" title="Clear Search"><i class="glyphicon glyphicon-refresh"></i></button>
                    <button class="btn btn-default" ng-click="openAddDialog()" title="Add New Biller"><i class="glyphicon glyphicon-plus-sign"></i></button>
                    <button class="btn btn-default btn-danger" ng-hide="anythingSelectedForDelete()" ng-click="openDeleteDialog()" title="Delete Biller"><i class="glyphicon glyphicon-remove-circle"></i></button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div ng-repeat="biller in billers | filter:filterBillers">
                    <div class="panel-collapse form-inline">
                        <div class="col-md-10">
                            <input id="chk{{biller.id}}" type="checkbox" ng-model="biller.selected" title="To delete select" />
                            <label for="chk{{biller.id}}">
                                <strong>  {{biller.name}}  </strong> located at <i><strong>{{biller.address}}</strong></i>
                            </label>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-default btn-xs" ng-click="openEditDialog(biller);" 
                                    title="Edit {{biller.name}}"><i class="glyphicon glyphicon-edit"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="text-center">
                <custom-pager page="{{page}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="search(page)"></custom-pager>
            </div>
        </div>
    </div>
</div>