<div layout="row" layout-margin ng-cloak>
    <md-whiteframe class="md-whiteframe-5dp" flex>
        <div layout="column">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <div>
                            <span class="md-title">{{indexCtrl.title + " for "}}</span>
                            <md-datepicker ng-model="indexCtrl.purchaseddate" md-placeholder="Enter date"
                                           ng-change="indexCtrl.getExpenses()">
                            </md-datepicker>
                        </div>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row">
                    <md-input-container md-no-float class="md-block">
                        <input type="search" placeholder="Filter, search Expenses.." ng-model="indexCtrl.filterExpense">
                    </md-input-container>
                    <md-card-icon-actions layout-align="end center">
                        <!--<md-button class="md-icon-button" ng-click="indexCtrl.search();" aria-label="Search"><i class="fa fa-search"></i></md-button>-->
                        <md-button class="md-icon-button" ng-click="indexCtrl.clearSearch();" aria-label="Clear Search"><i class="fa fa-refresh"></i></md-button>
                        <md-button class="md-icon-button" ng-click="indexCtrl.openAddDialog($event)" aria-label="Add Expense"><i class="fa fa-plus"></i></md-button>
                        <md-button class="md-icon-button" ng-click="indexCtrl.openDeleteDialog($event)" ng-hide="indexCtrl.anythingSelectedForDelete()" aria-label="Delete Expense"><i class="fa fa-remove"></i></md-button>
                    </md-card-icon-actions>
                </md-card-actions>
            </md-card>

            <md-list class="md-dense">
                <md-list-item class="md-2-line" ng-repeat="expense in indexCtrl.expenses | filter:indexCtrl.filterExpense">
                    <div class="md-list-item-text" layout="column">
                        <h3 layout-margin>
                            <md-checkbox id="chk{{expense.id}}" ng-model="expense.selected" aria-label="To delete select" layout-wrap>
                                <label for="chk{{expense.id}}">
                                    <strong> {{expense.name + " : "}}</strong><i>{{expense.description}}</></i>
                                </label>
                            </md-checkbox>
                        </h3>
                        <p>
                            <span>purchased from {{expense.biller.name}} and it costs you <strong><i class="fa fa-rupee"></i>{{expense.amount}}</strong></span>
                            <md-button class="md-fab md-mini" ng-click="indexCtrl.openEditDialog(expense, $event);"
                                       aria-label="Edit {{expense.name}}">
                                <i class="fa fa-edit"></i>
                            </md-button>
                        </p>
                        <md-divider></md-divider>
                    </div>
                </md-list-item>
                <md-list-item ng-show="indexCtrl.expenses.length == 0">
                    No expense is entered for selected day.
                </md-list-item>
            </md-list>
        </div>
    </md-whiteframe>
</div>