
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <h4 class="panel-title pull-left">
                Expense Entry for date
                <input type="date" style="background-color:transparent" ng-model="expenseCtrl.expense.purchaseddate">
            </h4>
            <br />
        </div>
        <div class="panel-body">
            <div class="col-md-7">
                <form>
                    <div class="form-group row">
                        <label class="col-md-3 control-label" for="inputName">Name</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="inputName" ng-model="expenseCtrl.expense.name"
                                   placeholder="Enter name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 control-label" for="inputDescription">Description</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="inputDescription" ng-model="expenseCtrl.expense.description"
                                   placeholder="Enter Description">
                        </div>
                    </div>
                    <div class="form-group row form-inline">
                        <label class="col-md-3 control-label" for="inputAmount">Amount</label>
                        <div class="col-md-4">
                            <input type="number" class="form-control" id="inputAmount" ng-model="expenseCtrl.expense.amount"
                                   placeholder="Enter Amount">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 control-label" for="inputCategory">Purchase Category</label>
                        <div class="col-md-4">
                            <!--<pre>Model: {{expenseCtrl.expense.category | json}}</pre>-->
                            <!--http://ryanchenkie.com/typeahead-part-1/-->
                            <input type="text" class="form-control" ng-model="expenseCtrl.expense.category"
                                   typeahead="category as category.name for category in expenseCtrl.categories | filter:$viewValue | limitTo:8"
                                   typeahead-template-url="../JS//SPA/templates/category-tpl.html"
                                   id="inputCategory" placeholder="Enter Purchase Category">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 control-label" for="inputBiller">Purchased from</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" ng-model="expenseCtrl.expense.biller"
                                   typeahead="biller as biller.name for biller in expenseCtrl.billers | filter:$viewValue | limitTo:8"
                                   typeahead-template-url="../JS//SPA/templates/biller-tpl.html"
                                   id="inputBiller" placeholder="Enter purchased location">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 control-label" for="inputPaymentMethod">Payment Method used</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" ng-model="expenseCtrl.expense.paymentMethod"
                                   typeahead="paymentMethod as paymentMethod.value for paymentMethod in expenseCtrl.paymentMethods | filter:$viewValue | limitTo:8"
                                   typeahead-template-url="../JS//SPA/templates/paymentMethod-tpl.html"
                                   id="inputPaymentMethod" placeholder="Enter Payment Method ">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-5">
                Per day Summary as a grid or a Graph
                <pre>Model: {{expenseCtrl.expenses| json}}</pre>

            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <form class="form-horizontal">
                    <div class="form-group row">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="button" class="btn btn-primary" title="Save Expenses" ng-click="expenseCtrl.saveExpense()">
                                Save  <i class="glyphicon glyphicon-save"></i>
                            </button>
                            <a class="btn btn-default" title="Reset" ng-click="expenseCtrl.reset()">
                                Reset <i class="glyphicon glyphicon-refresh"></i>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>