<div layout="row" layout-padding flex>
    <md-card>
        <md-card-header>
            <md-card-header-text>
                <span>Add New Category</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <form role="form">
                <md-input-container class="md-block">
                    <input type="text" placeholder="Name" ng-model="addCtr.newCategory.name" md-autofocus>
                </md-input-container>
                <md-input-container class="md-block">
                    <input type="text" placeholder="Description" ng-model="addCtr.newCategory.description">
                </md-input-container>
            </form>
        </md-card-content>
        <md-card-actions layout="row">
            <md-button ng-click="addCtr.addCategory()" aria-label="Add new Biller">Save</md-button>
            <md-button ng-click="addCtr.cancelAddCategory()" aria-label="Cancel">Cancel</md-button>
        </md-card-actions>
    </md-card>
</div>