<div class="panel panel-default panel-primary">
    <div class="panel-heading">Edit <strong>{{editCtr.selectedCategory.name}} </strong></div>
    <div class="panel-body">
        <form role="form">
            <div class="form-group">
                <label class="control-label" for="Name">Name</label>
                <input type="text" ng-model="editCtr.selectedCategory.name" class="form-control" id="Name">
            </div>
            <div class="form-group">
                <label class="control-label" for="Description">Description</label>
                <input type="text" ng-model="editCtr.selectedCategory.description" class="form-control" id="Description">
            </div>
        </form>
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-right">
            <button type="button" class="btn btn-default" ng-click="editCtr.saveCategory()">Save</button>
            <button type="button" class="btn btn-default btn-danger" ng-click="editCtr.cancelSaveCategory()">Cancel</button>
        </div>
    </div>
</div>