<div layout="column" layout-padding layout-fill ng-cloak>
    <h1>{{homeCtl.title}}</h1>
    <div layout-gt-xs="row">
        <md-card flex-gt-xs="50">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-subheader">{{homeCtl.summary}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content flex>
                <canvas id="pie" class="chart chart-pie"
                        chart-legend="true"
                        chart-data="homeCtl.pieData" chart-labels="homeCtl.pieLabels"></canvas>
            </md-card-content>
        </md-card>
        <!--<pre>{{homeCtl.pieData}}</pre>
        <pre>{{homeCtl.pieLabels}}</pre>-->
        <md-card flex-gt-xs="50">
            <md-card-header>
                <md-card-header-text>
                    <span class="md-subheader">Expenses Trend</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <md-input-container class="md-block" flex-gt-xs="50">
                    <label>Select Category</label>
                    <md-select ng-model="homeCtl.selectedCategory" ng-change="homeCtl.GetAllExpense()">
                        <md-option ng-repeat="category in homeCtl.categories" value="{{category.id}}">
                            {{category.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <canvas id="line" class="chart chart-line"
                        chart-data="homeCtl.data" chart-labels="homeCtl.labels"
                        chart-legend="true"
                        chart-series="homeCtl.series"></canvas>
            </md-card-content>
        </md-card>
        <!--<md-card>
            <md-card-header>
                <md-card-header-text>
                    <span class="md-subheader">Expenses in each categories</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <canvas id="bar" class="chart chart-bar"
                        chart-data="homeCtl.data" chart-labels="homeCtl.labels"
                        chart-legend="true"
                        chart-series="homeCtl.series"></canvas>
            </md-card-content>
        </md-card>-->
    </div>
    <!--<pre>{{homeCtl.barResponse}}</pre>
    <pre>{{homeCtl.pieResponse}}</pre>-->
</div>